[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
keras = "*"
flask = "*"
gunicorn = ">=22.0.0"
scipy = "*"
scikit-learn = "*"
keras-image-helper = "*"
pillow = "*"

[dev-packages]
jupyter = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
seaborn = "*"
pillow = ">=10.3.0"

[requires]
python_version = "3.11"
